@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /* text colors */
  --accent-cl: #df3d3a;
  --main-cl: rgba(255, 255, 255, 0.8);
  --title-cl: #e7e7e7;
  --btn-cl: rgba(255, 255, 255, 0.9);
  --quote-cl: rgba(255, 255, 255, 0.4);
  --footer-cl: rgba(255, 255, 255, 0.3);

  /* bg colors */
  --main-bg-cl: #191919;
  --btn-bg-cl: #df3d3a;

  /* fonts */
  --main-font: Gilroy, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* COMMON STYLES */
.page {
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 1.45;
  color: var(--main-cl);

  background-color: var(--main-bg-cl);
}

.title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--title-cl);
}

.subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  color: var(--title-cl);
}

.btn {
  min-width: 200px;
  padding: 22px 96px;

  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--btn-cl);

  background-color: var(--btn-bg-cl);
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.section {
  padding-top: 85px;
  padding-bottom: 85px;
}

/* HEADER */
.header {
  padding-top: 70px;
  padding-bottom: 35px;
}

.header-container {
  display: flex;
}

.nav {
  font-size: 16px;
  line-height: 1.19;
  margin-left: auto;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 77px;
}

.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: currentColor;
}

/* HERO */
.hero {
  padding-top: 35px;
  padding-bottom: 85px;
}
.hero-wrapper {
  margin-bottom: 110px;
}

.hero-description {
  width: 320px;
  margin-bottom: 36px;
  font-size: 16px;
  line-height: 1.25;
}

.hero-description:last-child {
  width: 135px;
}

.hero-title {
  width: 470px;
  margin-bottom: 60px;

  font-weight: 600;
  font-size: 74px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--title-cl);
}

.hero-title,
.hero-btn {
  margin-left: 104px;
}

.hero-img {
  display: block;
}

/* desing */
.desing-container {
  display: flex;
}
.desing-content {
  margin-left: 70px;
}

/* advantages */
.advantages-container {
  width: 1130px;
}

.advantages-content {
  display: flex;
  flex-wrap: wrap;
  list-style-type: disc;
  justify-content: space-between;
}
.advantages-content-item {
  flex-basis: 538px;
  margin-bottom: 20px;
}
.advantages-content-item::marker {
  color: var(--accent-cl);
  font-size: 35px;
  line-height: 1;
}
.advantages-content-item:nth-child(n + 5) {
  margin-bottom: 0;
}

/* features */
.features-subtitle {
  display: flex;
  justify-content: space-between;
}
.features .subtitle {
  margin-bottom: 20px;
}

.features-item {
  width: 510px;
}
/* HISTORY */
.history-author {
  font-size: 16px;
  color: var(--quote-cl);
}

/* REVIEWS */
.reviews-subtitle {
  color: var(--accent-cl);
}

.reviews-pagination-item {
  font-size: 28px;
  line-height: 1.25;
  color: var(--accent-cl);
  opacity: 0.2;
}

.reviews-pagination-item.active {
  opacity: 1;
}

/* ORDER */
.order-link {
  font-size: 16px;
  line-height: 1.25;
  color: currentColor;
}

.order-price {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--accent-cl);
}

/* FOOTER */

.footer {
  padding-top: 85px;
  padding-bottom: 75px;
  font-size: 16px;
  line-height: 1.25;

  color: var(--footer-cl);
}

.footer-link {
  color: currentColor;
}

.footer-tel {
  color: var(--main-cl);
}

.list {
  outline: 5px dashed greenyellow;
}
